<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>Travel App</title>
</head>
<body>
    
    <h1>Travel App</h1>
    <div class="main-div">
        <div class="form">
            <hr>
            <input id="location-name" type="text" name="Location" placeholder="Write down the location">
            <input id="date" type="date">
            <button id="submit">Submit</button>
        </div>
        <div id="result">
            <!--result will be injected here-->
        </div>
    </div>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>
</html>